[[extend 'layout.html']]

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="background-color: white">
<section class="hero is-dark is full">
  <div class="hero-body">
    <p class="title">
      About Us
    </p>
    <p>
    With NoFilter, it’s easy to find the right music or podcast for every moment.
    </p>
    <br>
    There are millions of tracks and episodes on NoFilter. So you can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.
    <p>
    Soundtrack your life with NoFilter. Listen for free.
    </p>
    <br>
    <section class="title">
      Customer Service and Support
    </section>
    <p>
    <strong>Help site. </strong>
    <br>
    Check out our help site for answers to your questions and to learn how to get the most out of Spotify and your music.
    </p>
    <br>
    <p>    
    <strong>Community. </strong>
    <br>
    Get fast support from expert Spotify users. If there isn't already an answer there to your question, post it and someone will quickly answer. You can also suggest and vote on new ideas for Spotify or simply discuss music with other fans.
    </p>
    <br>
    <p>
    <strong>Contact us.</strong>
    <br>
    Contact our Customer Support if you don't find a solution on our support site or Community.
    </p>
    <br>
    <p>
    <strong>@NoFilterCares.</strong>
    <br>
    Feeling sociable? Simply tweet the team and they'll do all they can to help.
    </p>
    <br>


  </div>
</section>

</body>

