[[extend 'layout.html']]

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="background-color: white">
<section class="hero is-dark is full">
  <div class="hero-body">
    <p class="title">
      Welcome to our humble website.
    </p>
      <p>
          The goal of this project is to give users a clean interface for sharing and discussing lyrics
          from their favorite music.
      </p>
  </div>
</section>
<table>
            <tr>
                <th>Newly added lyrics</th>
            </tr>
            [[for song in songs[:10]:]]
            <tr>
            <td><a href="[[=URL('song', song.name)]]">[[=song.name]]</a></td>
                <td><a>[[=song.band_id]]</a></td>
            </tr>
            [[pass]]

  </table>
</body>


