[[extend 'layout.html']]

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="background-color: white">
<section class="hero is-dark is full">
  <div class="hero-body">
    <figure class="image is-64x64">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
    <p class="title">
      Profile
                     <a class="button is-primary">
                     <span class="icon"><i class="fa fa-fw fa-edit"></i></span>
                </a>
    </p>
      <p>
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Username</th>  
            </tr>
            <tr>
                <th><i>Bio goes here, but today will be used to explain this page.
                Hello, pardon for my absence, and welcome to the Profile page! The 
                tab for this page should only be available from the main template 
                after logging in. Furthermore, this page will be accessible to 
                logged in users but only edited by the given user. Profile will be 
                written and edited in similar manner to the Homework 4 phonebook 
                assignment. When edit button is clicked it will create separate 
                edit buttons for each section in Profile (Profile Pic, Bio, Top 5 
                Songs, Etc). Top 5 Songs may incorporate a thumbs-up feature 
                visible to other users when exploring another's profile. (Successful 
                functionality TBD)
				</i></th>
            </tr>
            <tr>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Top Five Songs</th>
                            <th>Song</th>
                            <th>Artist</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>1</th>
                            <th>Song 1</th>
                            <th>Artist 1</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Song 2</th>
                            <th>Blur</th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Song 3</th>
                            <th>Artist 3</th>
							 </tr>
                        <tr>
                            <th>4</th>
                            <th>Song 4</th>
                            <th>Artist 4</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>Song 5</th>
                            <th>Artist 5</th>
                        </tr>
                    </tbody>
                </table>
            </tr>
            
        </table>

      </p>

  </div>
</section>

</body>