[[extend 'layout.html']]
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="background-color: white">
    <section class="hero is full">
        <div class="card has-background-white">
            <div class="card-content">
                <div class="content">
                    <div class="hero-body">
                        <figure class="image is-128x128">
                            <img src="[[=URL('download',profile.avatar)]]">
                        </figure>
                        <p class="title has-text-white">
                            Profile
                            [[if (profile.username == username):]]
                            <a class="button is-info is-pulled-left" href="[[=URL('edit_profile', signer=signer)]]">
                                <i class="fa fa-edit">Edit Profile</i>
                            </a>
                            [[pass]]
                        </p>
                        <p>
                            <table class="table is-striped is-fullwidth">
                                <tr>
                                    <th>[[=profile.username]]</th> 
                                </tr>
                                <tr>
                                    <th><i>[[=profile.bio]]
                                    </i></th>
                                </tr>
                                <tr>
                                </tr>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section">
        <div class="tile is-ancestor is-vertical">
            <div class = "title has-text-white">Comment History:</div>
            [[for comment in comments:]]
            <div class="tile notification is-light is-child is-size-5">
                <div>[[=comment.post_text]]</div>
                <a class="button is-link is-pulled-right"  href="[[=URL('song', comment.song_id)]]">
                    Go to song
                </a>
            </div>
            [[pass]]
        </div>
    </div>
</body>
