[[extend 'layout.html']]

<!-- This page displays info for a specific song
     Focus was entirely on db retrieval...
     so it needs serious touching up or redesign -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>
<body style="background-color: white">
<section class="hero is-dark is full">
  <div class="hero-body">
    <img class="image is-128x128" src=[[=URL('download',album.image)]]>
    </figure>
    <p class="title">[[=song.name]]</p>
      <p>
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>By <a class="has-text-link" href="[[=URL('band', band.name)]]">[[=band.name]]</a></th>  
            </tr>
            <tr>
                <td><i>Released: [[=album.date]]</i></td>
            </tr>
            <tr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lyrics</th>
                            <th>Line #</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[[=song.lines]]</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            Song lyrics aren't being split into lines yet. We should probably do that.
                        </tr>
                    </tbody>
                </table>
                <a class="button is-primary" href="[[=URL('add_song', band.id, album.id)]]">
                    <span>Add a Song</span>
                </a>
            </tr>
        </table>
      </p>
  </div>
</section>
</body>