[[extend 'layout.html']]

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
</head>
<body style="background-color: white">
    <section class="hero is-full" id="vue-target">
        <div class="hero-body">
            <div class="box has-background-white">
                        <div class="section">
                                <img class="image is-128x128" src="[[=URL('download',album.image)]]">
                            <p class="level-item title is-size-2 is-pulled-left has-text-black">[[=song.name]]</p>
                        </div>
                        <table class="table is-fullwidth">
                            <tr>
                                <th>Artist: <a class="has-text-link" href="[[=URL('band', band.name)]]">[[=band.name]]</a></th>  
                            </tr>
                            <tr>
                                <th>Album: <a class="has-text-link" href="[[=URL('album', album.name)]]">[[=album.name]]</a></th>  
                            </tr>
                            <tr>
                                <td><i>Released: [[=album.date]]</i></td>
                            </tr>
                        </table> 
            </div>
            <br>
            <div class="card has-background-white">
                <div class="card-content">
                    <div class="content">
                    <p class="is-size-3">Lyrics</p>
                    [[for i,line in enumerate(song.lines):]]
                        <lyric-line
                            line_text="[[=line]]"
                            :comment_arr="annotations[ [[=i]] ]"
                            :line_number="[[=i]]"
                            ></lyric-line>
                    [[pass]]
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

[[block page_scripts]]
<script type="text/x-template" id="comment-template">
    <div class="comment">
        <div :style="indent">
        <div>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-pulled-left is-64x64">
                    <img :src="'[[=URL('download')]]/' + comment.avatar">
                        <p>
                            <span v-if="vote == 1" v-on:click="change_vote(0);">
                                <i class="fas fa-arrow-up has-text-success"></i>
                            </span>
                            <span v-if="vote != 1" v-on:click="change_vote(1);">
                                <i class="fas fa-arrow-up"></i>
                            </span>
                            {{count_votes()}}
                            <span v-if="vote == -1" v-on:click="change_vote(0);">
                                <i class="fas fa-arrow-down has-text-danger"></i>
                            </span>
                            <span v-if="vote != -1" v-on:click="change_vote(-1);">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                        </p>
                </figure>
                <div class="media-content">
                    <div class="is-size-6">
                        <p>
                        <strong> {{comment.author}} </strong>
                        <div> {{comment.post_text}} </div>
                        <br>
                        <small>
                            {{comment.posts.length}} Replies
                            <a v-if="comment.posts.length && !show_children" @click="toggle_children">(Show)</a>
                            <a v-if="comment.posts.length && show_children" @click="toggle_children">(Hide)</a>
                            <small> · </small>
                            <a v-on:click="replying=true">Reply</a>
                            <small v-if="comment.user_email == user_email" v-on:click="delete_post()"> · <a>Delete</a></small>
                            <small> · {{comment.datetime}}</small>
                        </small>
                        </p>
                                <div v-if="replying">
                                    <div class="field">
                                        <textarea v-model="input_text" class="textarea" placeholder="Type something!"></textarea>
                                    </div>
                                    <button v-on:click="add_post()" class="button is-primary is-size-5">Post</button>
                                    <button v-on:click="replying = false" class="button is-warning is-size-5">Cancel</button>
                                </div>
                    </div>
                </div>
            </article>
            </div>
            
        </div>
        <comment
            v-if="show_children"
            v-for="reply in comment.posts" 
            :key="reply.id"

            :comment="reply"
            :parent_comment="comment"
            :depth="depth + 1"   
            ></comment>
    </div>
</script>
<script type="text/x-template" id="lyric-line-template">
    <div class="lyric-line">
        <div v-if="has_annotations()">
            <a v-on:click="toggle_annotations()" class="lyrics is-size-5 has-text-black has-background-warning">{{line_text}}</a>
        </div>
        <div v-else>
            <a v-on:click="toggle_annotations()" class="lyrics is-size-5 has-text-black">{{line_text}}</a>
        </div>
        <div v-if="showing_annotations">
            
            <div>
                <br>
                <!--Section for showing the form to write a post-->
                <div v-if="commenting">
                    <div class="field">
                        <textarea v-model="input_text" class="textarea" placeholder="Type something!"></textarea>
                    </div>
                    <button v-on:click="add_post()" class="button is-primary is-size-5">Post</button>
                    <button v-on:click="commenting=false" class="button is-warning is-size-5">Cancel</button>
                </div>
                <!--Section for when the form shouldn't be on the screen-->
                <div v-if="!commenting">
                    <button v-on:click="commenting=true" class="button is-info is-size-5">
                        <i class="fa fa-plus"> Comment</i>
                    </button>
                </div>
                <br>
            </div>
            <div v-for="thread in comment_arr" class="is-size-5">
                <div class="container">
                    <comment
                        :comment="thread"
                        :parent_comment="null"
                        :depth="0"   
                        ></comment>
                </div>
            </div>

        </div>
    </div>
</script>
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let vote_post_url = "[[=XML(vote_post_url)]]";
  let user_email = "[[=XML(user_email)]]";
  let song_id = "[[=song.id]]";
  let user_id = "[[=user_id]]";
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="js/comments.js"></script>
[[end]]
